name: Build Test

on:
  workflow_dispatch:
env:
  LANG: en_US.UTF-8
  RUBY_VERSION: 3.0.0
  ENVIRONMENT: development
  REF_NAME: ${{ github.event.client_payload.ref_name }}

jobs:
  check-cache:
    name: Check Cache
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Test
        run: echo "Run Cache Check"

  build:
    name: Build ${{ matrix.platform }}
    runs-on: ubuntu-latest
    needs: check-cache
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: ios
            build-type: ipa
          - platform: android
            build-type: apk
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build ${{ matrix.platform }}
        uses: ./.github/actions/build
        with:
          platform: ${{ matrix.platform }}
          profile: development
          build-tag: ${{ env.REF_NAME }}
          build-type: ${{ matrix.build-type }}
          expo-token: ${{ secrets.EXPO_CLI_TOKEN }}
          cache-key: node-modules-${{ hashFiles('yarn.lock') }}

  deploy:
    name: Deploy ${{ matrix.platform }}
    runs-on: ubuntu-latest
    needs: build
    if: ${{ !cancelled() }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: ios
            build-type: ipa
          - platform: android
            build-type: apk
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: ./.github/actions/deploy
        with:
          platform: ${{ matrix.platform }}
          profile: development
          build-tag: ${{ env.REF_NAME }}
          build-type: ${{ matrix.build-type }}
