name: Manual Build and deploy DEV Portal

on:
    workflow_dispatch:

jobs:
    check-cache:
        name: Check Cache
        runs-on: ubuntu-latest
        # outputs:
        #     cache-hit: ${{ steps.cache-check.outputs.cache-hit }}
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "18"

            # - name: Cache dependencies
            #   id: cache-check
            #   uses: actions/cache@v3
            #   with:
            #       path: |
            #           node_modules
            #           ~/.npm
            #       key: ${{ runner.os }}-cache-${{ hashFiles('**/package-lock.json') }}
            #       restore-keys: |
            #           ${{ runner.os }}-cache-

            - name: Test
              run: echo "Run Cache Check"

    build-ios:
        name: Build iOS
        runs-on: ubuntu-latest
        needs: check-cache
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Build iOS
              uses: ./.github/actions/build
              with:
                  platform: ios
                  node-version: "18"
                  cache-hit: ${{ needs.check-cache.outputs.cache-hit }}

    build-android:
        name: Build Android
        runs-on: ubuntu-latest
        needs: check-cache
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Build Android
              uses: ./.github/actions/build
              with:
                  platform: android
                  node-version: "18"
                  cache-hit: ${{ needs.check-cache.outputs.cache-hit }}

    deploy-ios:
        name: Deploy iOS
        runs-on: ubuntu-latest
        needs: build-ios
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - uses: ./.github/actions/deploy
              with:
                  platform: ios

    deploy-android:
        name: Deploy Android
        runs-on: ubuntu-latest
        needs: build-android
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - uses: ./.github/actions/deploy
              with:
                  platform: android
